<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email-Extarctor | By Hamza</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico">
  <style>
    ::-webkit-scrollbar {
      width: 10px;
    }

    ::-webkit-scrollbar-thumb {
      background: purple;
    }
  </style>
</head>

<body class="min-h-screen selection:bg-purple-600 selection:text-white">
  <section class="relative min-h-[95vh] flex text-gray-600 body-font overflow-hidden bg-purple-50 my-auto">
    <!-- LOGO -->
    <div onclick="document.querySelector('#modalAbout').style.display = 'flex'" title="About this app"
      class="cursor-pointer absolute top-5 left-5 md:top-10 md:left-10 w-16 md:w-20 rounded-full bg-purple-500 p-3 text-purple-50">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
          d="M256 64C150 64 64 150 64 256s86 192 192 192c17.7 0 32 14.3 32 32s-14.3 32-32 32C114.6 512 0 397.4 0 256S114.6 0 256 0S512 114.6 512 256l0 32c0 53-43 96-96 96c-29.3 0-55.6-13.2-73.2-33.9C320 371.1 289.5 384 256 384c-70.7 0-128-57.3-128-128s57.3-128 128-128c27.9 0 53.7 8.9 74.7 24.1c5.7-5 13.1-8.1 21.3-8.1c17.7 0 32 14.3 32 32l0 80 0 32c0 17.7 14.3 32 32 32s32-14.3 32-32l0-32c0-106-86-192-192-192zm64 192a64 64 0 1 0 -128 0 64 64 0 1 0 128 0z"
          fill="currentColor" />
      </svg>
    </div>
    <div class="container px-5 py-24 m-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">EMAIL EXTRACTOR</h2>
          <h1 class="text-gray-900 text-2xl md:text-3xl title-font font-medium">Paste Text/URL or Upload File</h1>
          <label for="textToggle"
            class="switch cursor-pointer relative flex w-[6.7rem] scale-75 overflow-hidden ml-auto px-2 mb-4"
            onclick="textToUrl()">
            <input type="checkbox" name="" class="peer hidden" id="textToggle" />
            <div
              class="absolute -right-[6.5rem] z-[1] flex h-12 w-24 skew-x-12 items-center justify-center text-lg duration-500 peer-checked:right-1">
              <span class="-skew-x-12">URL</span>
            </div>
            <div class="z-0 h-12 w-24 -skew-x-12 border border-black duration-500 peer-checked:skew-x-12">
            </div>
            <div
              class="absolute left-[0.3rem] flex h-12 w-24 -skew-x-12 items-center justify-center text-lg duration-500 peer-checked:-left-[6.5rem]">
              <span class="skew-x-12">TEXT</span>
            </div>
          </label>

          <textarea class="w-full leading-relaxed mb-2 pl-3 pt-2 focus:outline-none" rows="10" name="" id="textInput"
            placeholder="Enter text to extarct!"></textarea>
          <div class="flex items-center mb-6">
            <input type="file" name="" id="fileInput" accept=".pdf, .docx, .doc, .pptx, .xlsx, .txt"
              onchange="baseConditions()">
            <p onclick="document.querySelector('#modal').style.display = 'flex'" class="cursor-pointer ml-auto">*<span
                class="underline">Guide</span></p>
          </div>
          <div class="flex border-t border-b border-gray-200 py-2 mb-6">
            <span class="text-gray-500">Emails extracted</span>
            <span class="ml-auto text-gray-900" id="emailCount">0</span>
          </div>
          <div class="flex">
            <button
              class="flex ml-auto text-white bg-purple-500 border-0 py-2 px-6 focus:outline-none hover:bg-purple-600 rounded-md"
              onclick="apiCall()">Extract</button>
          </div>
        </div>
        <div
          class="lg:w-1/2 w-full lg:h-[600px] h-64 object-cover object-center rounded border border-black/30 overflow-y-scroll">
          <p class="pl-4 pt-3 text-xl md:text-2xl" id="showEmailAlternate">No email to show!</p>
          <ul class="px-4 py-3" id="showEmail"></ul>
        </div>
      </div>
    </div>
  </section>
  <footer class="w-full h-[5vh] bg-purple-500 flex justify-center items-center">
    <div class="w-fit flex items-center">
      <!-- Portfolio -->
      <a href="https://hamzasiddiqui.netlify.app/" target="_blank" class="w-7 text-purple-50 mr-6"
        title="Portfolio of creater">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path
            d="M184 48l144 0c4.4 0 8 3.6 8 8l0 40L176 96l0-40c0-4.4 3.6-8 8-8zm-56 8l0 40L64 96C28.7 96 0 124.7 0 160l0 96 192 0 128 0 192 0 0-96c0-35.3-28.7-64-64-64l-64 0 0-40c0-30.9-25.1-56-56-56L184 0c-30.9 0-56 25.1-56 56zM512 288l-192 0 0 32c0 17.7-14.3 32-32 32l-64 0c-17.7 0-32-14.3-32-32l0-32L0 288 0 416c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-128z"
            fill="currentColor" />
        </svg>
      </a>
      <!-- Linkedin -->
      <a href="https://linkedin.com/in/hamza-s47/" target="_blank" class="w-7 text-purple-50"
        title="Linkedin of creater">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path
            d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"
            fill="currentColor" />
        </svg>
      </a>
    </div>
  </footer>
  <!-- GUIDE MODAL -->
  <main class="fixed inset-0 w-full h-screen bg-black/70 hidden justify-center items-center" id="modal">
    <div class="relative rounded-xl px-10 py-8 bg-white">
      <button class="cursor-pointer absolute top-2 right-4 text-lg font-bold hover:scale-110"
        onclick="document.querySelector('#modal').style.display = 'none'">x</button>
      <h2 class="text-2xl font-bold mb-2">Files you can upload:</h2>
      <ul>
        <li>PDF (.pdf)</li>
        <li>WORD (.docx, .doc)</li>
        <li>POWER POINT (.pptx)</li>
        <li>EXCEL (.xlsx)</li>
        <li>NOTE PAD (.txt)</li>
      </ul>
    </div>
  </main>
  <!-- ABOUT MODAL -->
  <main class="fixed inset-0 w-full h-screen bg-black/70 hidden justify-center items-center" id="modalAbout">
    <div class="max-w-[90%] sm:max-w-[75%] lg:max-w-[50%] relative rounded-xl px-6 py-5 md:px-10 md:py-8 bg-white">
      <!-- <button class="cursor-pointer absolute top-2 right-4 text-lg font-bold hover:scale-110"
        onclick="document.querySelector('#modalAbout').style.display = 'none'">x</button> -->
      <h2 class="text-2xl font-black mb-2 uppercase">About This App</h2>
      <p class="md:text-lg font-medium my-2">
        This simple tool helps you to extract email addresses from various file types like PDF, DOCX, DOC, PPTX, XLSX,
        TXT, and even from WEBSITES. You can also enter your own text to find emails. <br><br>This app is currently in
        beta and under development, with an accuracy of about 80%. Best of all, it’s completely
        free! I appreciate your feedback to help me improve. Whether you’re a student, a professional, or just someone
        looking to gather emails, I’m here to assist you. Thank you for choosing this app!
      </p>
      <hr>
      <!-- Creator -->
      <div class="rounded-xl overflow-hidden relative text-center py-2 px-4 my-3 group items-center flex flex-col max-w-sm hover:shadow-2xl transition-all duration-500 shadow-xl">
        <div class="text-gray-500 group-hover:scale-105 transition-all">
          <svg class="w-16 h-16" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
              stroke-linejoin="round" stroke-linecap="round"></path>
          </svg>
        </div>
        <div class="group-hover:pb-10 transition-all duration-500 delay-200">
          <h1 class="font-semibold text-gray-700">M Hamza Siddiqui</h1>
          <p class="text-gray-500 text-sm">@creator</p>
        </div>
        <div class="flex items-center transition-all duration-500 delay-200 group-hover:bottom-3 -bottom-full absolute gap-2 justify-evenly w-full">
          <div
            class="flex gap-3 text-2xl bg-gray-700 text-white p-1 hover:p-2 transition-all duration-500 delay-200 rounded-full shadow-sm">
            <!-- <a class="hover:scale-110 transition-all duration-500 delay-200">
              <svg width="1em" height="1em" fill="currentColor" viewBox="0 0 1024 1024">
                <path
                  d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9a127.5 127.5 0 0138.1 91v112.5c.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z">
                </path>
              </svg>
            </a> -->
            <a href="mailto:hamza.siddiqui4747@gmail.com" target="_blank" class="hover:scale-110 transition-all duration-500 delay-200">
              <svg width="1em" height="1em" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                <path d="M22 6l-10 7L2 6"></path>
              </svg>
            </a>
            <a href="https://linkedin.com/in/hamza-s47" target="_blank" class="hover:scale-110 transition-all duration-500 delay-200">
              <svg width="1em" height="1em" fill="currentColor" viewBox="0 0 960 1000">
                <path
                  d="M480 20c133.333 0 246.667 46.667 340 140s140 206.667 140 340c0 132-46.667 245-140 339S613.333 980 480 980c-132 0-245-47-339-141S0 632 0 500c0-133.333 47-246.667 141-340S348 20 480 20M362 698V386h-96v312h96m-48-352c34.667 0 52-16 52-48s-17.333-48-52-48c-14.667 0-27 4.667-37 14s-15 20.667-15 34c0 32 17.333 48 52 48m404 352V514c0-44-10.333-77.667-31-101s-47.667-35-81-35c-44 0-76 16.667-96 50h-2l-6-42h-84c1.333 18.667 2 52 2 100v212h98V518c0-12 1.333-20 4-24 8-25.333 24.667-38 50-38 32 0 48 22.667 48 68v174h98">
                </path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <button onclick="document.querySelector('#modalAbout').style.display = 'none'" type="button"
        class="font-bold py-2 px-4 rounded-md bg-purple-500 text-white">Close</button>
    </div>
  </main>
  <!-- LOADER -->
  <div class="fixed inset-0 z-10 w-full h-screen bg-black/70 flex justify-center items-center" id="loader">
    <div class="flex-col gap-4 w-full flex items-center justify-center">
      <div
        class="w-20 h-20 border-4 border-transparent text-blue-400 text-4xl animate-spin flex items-center justify-center border-t-blue-400 rounded-full">
        <div
          class="w-16 h-16 border-4 border-transparent text-red-400 text-2xl animate-spin flex items-center justify-center border-t-red-400 rounded-full">
        </div>
      </div>
    </div>
  </div>

  <script>

    textToggle = document.querySelector('#textToggle');
    textInput = document.querySelector('#textInput');
    fileInput = document.querySelector('#fileInput');
    emailCount = document.querySelector('#emailCount');
    showEmailAlternate = document.querySelector('#showEmailAlternate');
    showEmail = document.querySelector('#showEmail');
    loader = document.querySelector('#loader')

    showEmail.style.display = 'none'

    let reqData;
    emailResponse = [];

    setTimeout(() => {
      loader.style.display = 'none'
    }, 1500);

    function textToUrl() {
      textToggle.checked ? textInput.placeholder = 'Enter url to extract' : textInput.placeholder = 'Enter text to extract'
    }

    function baseConditions() {
      const formData = new FormData();

      if (fileInput.files.length > 0) {
        formData.append('file', fileInput.files[0]);
        textInput.value = "You can't edit until you remove the file or refresh your browser";
        textInput.setAttribute('readonly', true);
        textInput.style.cursor = 'not-allowed';
        reqData = formData;
      } else {
        textInput.removeAttribute('readonly');
        textInput.style.cursor = 'auto';

        let textData;
        if (textToggle.checked) {
          textData = {
            content: textInput.value,
            type: 'url',
          };
        } else {
          textData = {
            content: textInput.value,
            type: 'text',
          };
        }
        reqData = JSON.stringify(textData);
      }
    }

    // API Call function
    async function apiCall() {
      loader.style.display = 'flex'
      baseConditions();

      try {
        const response = await fetch('/api/extract', {
          method: 'POST',
          headers: fileInput.files.length > 0 ? {} : { 'Content-Type': 'application/json' },
          body: reqData
        });

        emailResponse = await response.json();

        emailCount.innerText = emailResponse.emailCount;
        if (emailResponse.emails.length > 0) {
          if (showEmail.firstChild) {
            while (showEmail.firstChild) {
              showEmail.removeChild(showEmail.firstChild);
            }
          }
          showEmailAlternate.style.display = 'none';
          showEmail.style.display = 'block';
          emailResponse.emails.forEach((e) => {
            const li = document.createElement('li');
            li.textContent = e;
            showEmail.appendChild(li);
          })
        }
        else {
          showEmail.style.display = 'none';
          showEmailAlternate.style.display = 'block';
          showEmailAlternate.innerText = 'No email found!'

        }
        textInput.value = ''
        fileInput.value = ''
        textInput.removeAttribute('readonly');
        textInput.style.cursor = 'auto';
        loader.style.display = 'none'
      } catch (err) {
        console.error('ERROR POSTING DATA', err);
        alert("Oops an error occured!")
        loader.style.display = 'none'
      }


    }
  </script>
</body>

</html>